*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #081522;
  color: #8ebae7;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: #324D67;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
/*==== Search =====*/
.search-form {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.form-input {
  width: 100%;
  border: transparent;
  max-width: 600px;
  background: #fff;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #324D67;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.error {
  color: #BB2525;
  text-transform: capitalize;
  padding-top: 0.5rem;
  letter-spacing: 0.1rem;
}
/*===== Loading ======*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #49A6E9;
  animation: spinner 0.6s linear infinite;
}

/*===== Movies ======*/
.movies {
  width: 90vw;
  max-width: 1170px;
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 3rem;
}
.movie {
  position: relative;
  overflow: hidden;
}
.movie img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  transition: all 0.3s linear;
}
.movie-info h4 {
  color: #fff;
  margin-bottom: 0.25rem;
}
.movie-info p {
  margin-bottom: 0;
  color: #fff;
}
.movie:hover .movie-info {
  transform: translateY(0);
}
@media screen and (min-width: 576px) {
  .movies {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

/*===== Single Movie ======*/

.single-movie {
  width: 90vw;
  max-width: 1170px;
  margin: 4rem auto;
  display: grid;
  gap: 2rem;
}
.single-movie img {
  width: 100%;
  display: block;
}
.single-movie p {
  max-width: 35em;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  line-height: 1.8;
}
.btn {
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  background: #49A6E9;
  color: #fff;
  border-radius: 0.25rem;
  display: inline-block;
  margin-top: 0.5rem;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 992px) {
  .single-movie {
    grid-template-columns: 1fr 2fr;
  }
}
.page-error {
  text-align: center;
  padding: 2rem;
}

